* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
.page1 {
  height: 150vh;
  width: 100%;
  background-color: #ffff;
  overflow: hidden;
  /* position: relative; */
}

.page1 .nav {
  height: 12vw;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 2vw 1.9vw;
}
.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav svg {
  fill: #434b34;
  width: 10vw;
  font-weight: 900;
  object-fit: cover;
  object-position: center;
  margin-left: 15vw;
}
.navContent i {
  transition: ease-in 0.3s;
  color: #434b34;
  font-weight: 800;
  font-size: 2.8vw;
  cursor: pointer;
  opacity: 1;
}
.navContent i:hover {
  color: #8a958a;
}
.navRight button {
  border-radius: 20px;
  overflow: hidden;
  padding: 0.8vw 1.5vw;
  background-color: #434b34;
  border: none;
}
.navRight a {
  font-family: sans-serif;
  font-size: 1vw;
  color: white;
  cursor: pointer;
  transition: ease 0.3s;
  opacity: 1;
  text-decoration: none;
}
.navContent button:nth-of-type(1) {
  background-color: white;
  border: 1px solid #434b34;
  color: #434b34;
  margin-right: 0.8vw;
}
.navbtn1 a {
  color: #434b34;
}
.navContent button:nth-of-type(1):hover {
  background-color: #e3e3c4;
}
@media (max-width: 500px) {
  .icon {
    padding-bottom: 5vh;
    padding-left: 1vh;
  }

  .navRight {
    padding-bottom: 5vh;
  }
  .nav svg {
    padding-top: 2vh;
    width: 130px;
  }

  .navContent i {
    font-size: 4vh;
  }

  .navRight a {
    font-size: 2.3vh;
  }
  .navContent button:nth-of-type(2) {
    display: none;
  }
  .navbtn1 a {
    color: #434b34;
  }
}
.txt {
  margin-top: 15vw;
}
.txt h1 {
  color: #434b34;
  font-size: 4vw;
  font-family: pp woodland;
  font-weight: 400;
  line-height: 4.8vw;
  text-align: center;
}
.image {
  height: 100vh;
  width: 90%;
  margin-top: 5vw;
  margin-left: 5vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 20%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.page2 {
  height: 150vh;
  width: 100%;
  padding: 13vw 6vw 0;
}
.pageRoom {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e3e3c4;
  height: 10.8vw;
  border-radius: 12px;
  padding: 0 3vw;
  cursor: pointer;
  position: relative;
  margin-top: 2vw;
}
.pageRoom img {
  height: 100%;
  position: absolute;
  left: -100%;
}

.pageRoomLeft h2 {
  font-family: PP woodland;
  font-size: 2.5vw;
  color: #505250;
  font-weight: 500;
  margin-bottom: 1.3vw;
}
.pageRoomLeft p {
  font-family: DM Sans;
  opacity: 0.7;
}

.pageRoomRight button {
  background-color: #626c4d;
  color: white;
  border: none;
  font-size: 1.2vw;
  padding: 0.2vw 1.3vw;
  border-radius: 15px;
  margin-top: 4vw;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.pageRoomRight button:hover {
  font-size: 1.3vw;
}

.pageRoom:hover {
  background-color: #434b34;
  color: #f7f7ee;
  animation-name: anime;
  animation-duration: 0.3s;
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: #03364f;
}
.page3 .container {
  height: 100%;
  width: 100%;
  background-color: #03364f;
  /* margin-top: 8vw; */
  display: flex;
  font-family: DM Sans;
}
.page3 .containerLeft {
  height: 100%;
  width: 45%;
  color: white;
}
.page3 .containerLeft h3 {
  color: #e3e3c4;
  background-color: #043f5d;
  width: fit-content;
  padding: 1.5vw 1vw;
  border-radius: 1vw;
  font-weight: 500;
  font-size: 1.3vw;
  margin-left: 8vw;
}
.page3 .containerLeft h3:nth-of-type(1) {
  margin-top: 8vw;
  margin-bottom: 1vw;
}
.page3 .containerLeft h1 {
  font-size: 2.8vw;
  font-weight: 500;
  color: #e3e3c4;
  font-family: PP Woodland;
  padding: 2vw 0 0 8vw;
}
.page3 .containerLeft p {
  width: 70%;
  opacity: 0.7;
  padding: 1vw 0 0 8vw;
  font-size: 1.2vw;
}
.page3 .containerRight {
  height: 100%;
  width: 55%;
}
.page3 .containerRightUp {
  height: 40%;
  width: 100%;
}
.page3 .containerRightUp img {
  height: 70%;
  width: 25%;
  border-radius: 1vw;
  object-position: center;
  object-fit: cover;
  margin: 8vw 0 0 14vw;
}
.page3 .containerRightDwn {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.page3 .containerRightDwn img {
  height: 85%;
  width: 35%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.5vw;
  margin: -10vw 5vw 0 0;
}

.page4 {
  height: 100vh;
  width: 100%;
  background-color: #03364f;
}
.page4 .container {
  height: 100%;
  width: 100%;
  background-color: #03364f;
  /* margin-top: 8vw; */
  display: flex;
  font-family: DM Sans;
}
.page4 .containerLeft {
  height: 100%;
  width: 45%;
  color: white;
}
.page4 .containerLeft h3 {
  color: #e3e3c4;
  background-color: #043f5d;
  width: fit-content;
  padding: 1.5vw 1vw;
  border-radius: 1vw;
  font-weight: 500;
  font-size: 1.3vw;
  margin: 8vw 0 0 10vw;
}
.page4 .containerLeft h1 {
  font-size: 2.8vw;
  font-weight: 500;
  color: #e3e3c4;
  font-family: PP Woodland;
  padding: 2vw 0 0 8vw;
}
.page4 .containerLeft p {
  width: 70%;
  opacity: 0.7;
  padding: 1vw 0 0 8vw;
  font-size: 1.2vw;
}
.page4 .containerRight {
  height: 100%;
  width: 55%;
}
.page4 .containerRight img {
  height: 30vw;
  width: 40vw;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin: 8vw 0 0 11vw;
}
.page5 {
  height: 100vh;
  width: 100%;
  background-color: #03364f;
}
.page5 .container {
  height: 100%;
  width: 100%;
  background-color: #f7f7ee;
  /* margin-top: 8vw; */
  display: flex;
  font-family: DM Sans;
}
.page5 .containerLeft {
  height: 100%;
  width: 45%;
  color: #444c36;
}
.page5 .containerLeft h3 {
  color: #444c36;
  background-color: #e3e3c4;
  width: fit-content;
  padding: 1.5vw 1vw;
  border-radius: 1vw;
  font-weight: 500;
  font-size: 1.3vw;
  margin-left: 8vw;
}
.page5 .containerLeft h3:nth-of-type(1) {
  margin-top: 8vw;
  margin-bottom: 1vw;
}
.page5 .containerLeft h1 {
  font-size: 2.8vw;
  font-weight: 500;
  color: #444c36;
  font-family: PP Woodland;
  padding: 2vw 0 0 8vw;
}
.page5 .containerLeft p {
  width: 70%;
  opacity: 0.7;
  padding: 1vw 0 0 8vw;
  font-size: 1.2vw;
}
.page5 .containerRight {
  height: 100%;
  width: 55%;
}
.page5 .containerRightUp {
  height: 40%;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: end; */
}
.page5 .containerRightUp img {
  height: 70%;
  width: 20%;
  border-radius: 1vw;
  object-position: center;
  object-fit: cover;
  margin: 8vw 0 0 14vw;
}
.page5 .containerRightDwn {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.page5 .containerRightDwn img {
  height: 85%;
  width: 35%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.5vw;
  margin: -10vw 5vw 0 0;
}
.page6 {
  height: 100vh;
  width: 100%;
  background-color: #f7f7ee;
}
.page6 .container {
  height: 100%;
  width: 100%;
  /* background-color: #03364f; */
  /* margin-top: 8vw; */
  display: flex;
  font-family: DM Sans;
}
.page6 .containerLeft {
  height: 100%;
  width: 45%;
  color: #434b34;
}
.page6 .containerLeft h3 {
  color: #434b34;
  background-color: #e3e3c4;
  width: fit-content;
  padding: 1.5vw 1vw;
  border-radius: 1vw;
  font-weight: 500;
  font-size: 1.3vw;
  margin: 8vw 0 0 10vw;
}
.page6 .containerLeft h1 {
  font-size: 2.8vw;
  font-weight: 500;
  color: #434b34;
  font-family: PP Woodland;
  padding: 2vw 0 0 8vw;
}
.page6 .containerLeft p {
  width: 70%;
  opacity: 0.7;
  padding: 1vw 0 0 8vw;
  font-size: 1.2vw;
}
.page6 .containerRight {
  height: 100%;
  width: 55%;
}
.page6 .containerRight img {
  height: 30vw;
  width: 40vw;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin: 8vw 0 0 11vw;
}
.page7 {
  height: 130vh;
  width: 100%;
  position: relative;
}
.page7 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page7Container {
  height: 15vw;
  width: 93%;
  background-color: #586346;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 13vw;
  border-radius: 20px;
}
.page7Container h1 {
  font-family: PP Woodland;
  color: #e3e3c4;
  padding-left: 5vw;
  font-size: 5vw;
}
.page7Container p {
  font-family: DM Sans;
  color: #f7f7ee;
  padding-right: 5vw;
  font-size: 2vw;
  cursor: pointer;
}
.page7Container i:hover {
  font-size: 2.1vw;
}
.page7Container i {
  background-color: #f7f7ee;
  color: #434b34;
  padding: 0.1vw 1vw;
  border-radius: 15px;
}
.page8 {
  height: 120vh;
  width: 100%;
  background-color: #022c42;
  font-family: sans-serif;
  overflow-x: hidden;
  /* margin-top: 5vw; */
}
.page8 h4 {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.page8Top {
  height: 32%;
  width: 100%;
}
.page8Top svg {
  width: 9vw;
  margin-left: 43%;
  fill: #e3e3c4;
}
.page8Mid {
  height: 32%;
  width: 100%;
}
.page8Mid hr {
  background-color: black;
}
.page8MidData {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 1vw;
}
.page8MidData h4:nth-of-type(2) {
  margin-left: -12vw;
}
.page8Btm {
  height: 22%;
  width: 100%;
}
.page8BtmUp {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 1vw;
}
.page8BtmDwn {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 1vw;
}
.page8BtmDwn h4:nth-of-type(2) {
  margin-left: 10vw;
}
.page8Mid,
.page8Btm {
  padding: 0 3vw 0 3vw;
}
.page8Nav {
  background-color: #03364f;
  height: 14%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.page8Nav p {
  padding: 1.6vw 3vw 0 3vw;
}

@media (max-width: 500px) {
  .page1 {
    height: auto;
    min-height: 100vh;
  }
  
  .page1 .nav {
    height: 60px;
    padding: 10px;
  }
  
  .nav svg {
    width: 80px;
    margin-left: 0;
  }
  
  .navContent i {
    font-size: 24px;
  }
  
  .navRight button {
    padding: 8px 12px;
  }
  
  .navRight a {
    font-size: 14px;
  }
  
  .txt {
    margin-top: 80px;
  }
  
  .txt h1 {
    font-size: 28px;
    line-height: 32px;
  }
  
  .image {
    height: 300px;
    width: 90%;
    margin: 30px auto;
  }
  
  .image img {
    height: 50%;
    width: 50%;
  }
  
  .page2 {
    height: auto;
    padding: 60px 20px;
  }
  
  .pageRoom {
    height: 80px;
    margin-top: 15px;
    padding: 0 15px;
  }
  
  .pageRoomLeft h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .pageRoomLeft p {
    font-size: 14px;
  }
  
  .pageRoomRight button {
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 20px;
  }
  
  .page3,
  .page4,
  .page5,
  .page6 {
    height: auto;
    padding: 40px 0;
  }
  
  .page3 .container,
  .page4 .container,
  .page5 .container,
  .page6 .container {
    flex-direction: column;
  }
  
  .page3 .containerLeft,
  .page4 .containerLeft,
  .page5 .containerLeft,
  .page6 .containerLeft,
  .page3 .containerRight,
  .page4 .containerRight,
  .page5 .containerRight,
  .page6 .containerRight {
    width: 100%;
  }
  
  .page3 .containerLeft h3,
  .page4 .containerLeft h3,
  .page5 .containerLeft h3,
  .page6 .containerLeft h3 {
    font-size: 16px;
    padding: 12px;
    margin: 20px 0 20px 20px;
  }
  
  .page3 .containerLeft h3:nth-of-type(1) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .page3 .containerLeft h1,
  .page4 .containerLeft h1,
  .page5 .containerLeft h1,
  .page6 .containerLeft h1 {
    font-size: 24px;
    padding: 10px 20px;
  }
  
  .page3 .containerLeft p,
  .page4 .containerLeft p,
  .page5 .containerLeft p,
  .page6 .containerLeft p {
    width: 90%;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .page3 .containerRightUp {
    text-align: center;
    margin: 20px 0;
  }
  
  .page3 .containerRightUp img {
    height: 200px;
    width: 60%;
    margin: 0 auto;
  }
  
  .page3 .containerRightDwn {
    justify-content: center;
    margin: 20px 0;
  }
  
  .page3 .containerRightDwn img {
    height: 250px;
    width: 70%;
    margin: 0;
  }
  
  .page4 .containerRight {
    text-align: center;
  }
  
  .page4 .containerRight img {
    height: 250px;
    width: 80%;
    margin: 20px auto;
  }
  
  .page5 .containerRightUp {
    text-align: center;
    margin: 20px 0;
  }
  
  .page5 .containerRightUp img {
    height: 200px;
    width: 60%;
    margin: 0 auto;
  }
  
  .page5 .containerRightDwn {
    justify-content: center;
    margin: 20px 0;
  }
  
  .page5 .containerRightDwn img {
    height: 250px;
    width: 70%;
    margin: 0;
  }
  
  .page6 .containerRight {
    text-align: center;
  }
  
  .page6 .containerRight img {
    height: 250px;
    width: 80%;
    margin: 20px auto;
  }
  
  .page7 {
    height: 300px;
  }
  
  .page7Container {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
    margin: 0 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .page7Container h1 {
    font-size: 28px;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .page7Container p {
    font-size: 16px;
    padding: 0;
  }
  
  .page8 {
    height: auto;
    padding: 40px 20px;
  }
  
  .page8Top svg {
    width: 80px;
    margin-left: calc(50% - 40px);
  }
  
  .page8MidData,
  .page8BtmUp,
  .page8BtmDwn {
    flex-direction: column;
    gap: 15px;
  }
  
  .page8MidData h4:nth-of-type(2),
  .page8BtmDwn h4:nth-of-type(2) {
    margin-left: 0;
  }
  
  .page8Nav {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  
  .page8Nav p {
    padding: 5px 0;
  }
}