* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #f7f7ee;
}
.page1 {
  height: 150vh;
  width: 100%;
  overflow: hidden;
}
.name-container{
  color: #434B34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.name-container h1{
  font-size: 3rem ;
}
.name-container h2{
  font-size: 2.8rem ;
}
.page1 .nav {
  height: 12vw;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 2vw 1.9vw;
}
.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav svg {
  fill: #434b34;
  width: 10vw;
  font-weight: 900;
  object-fit: cover;
  object-position: center;
  margin-left: 15vw;
}
.navContent i {
  transition: ease-in 0.3s;
  color: #434b34;
  font-weight: 800;
  font-size: 2.8vw;
  cursor: pointer;
  opacity: 1;
}
.navContent i:hover {
  color: #8a958a;
}
.navRight button {
  border-radius: 20px;
  overflow: hidden;
  padding: 0.8vw 1.5vw;
  background-color: #434b34;
  border: none;
}
.navRight a {
  font-family: sans-serif;
  font-size: 1vw;
  color: white;
  cursor: pointer;
  transition: ease 0.3s;
  opacity: 1;
  text-decoration: none;
}
.navContent button:nth-of-type(1) {
  background-color: white;
  border: 1px solid #434b34;
  color: #434b34;
  margin-right: 0.8vw;
}
.navbtn1 a {
  color: #434b34;
}
.navContent button:nth-of-type(1):hover {
  background-color: #e3e3c4;
}
@media (max-width: 500px) {
  .icon {
    padding-bottom: 5vh;
    padding-left: 1vh;
  }

  .navRight {
    padding-bottom: 5vh;
  }
  .nav svg {
    padding-top: 2vh;
    width: 130px;
  }

  .navContent i {
    font-size: 4vh;
  }

  .navRight a {
    font-size: 2.3vh;
  }
  .navContent button:nth-of-type(2) {
    display: none;
  }
  .navbtn1 a {
    color: #434b34;
  }
}
.page1 .txt {
  margin-top: 15vw;
}
.page1 .txt h1 {
  color: #434b34;
  font-size: 4vw;
  font-family: pp woodland;
  font-weight: 400;
  line-height: 4.8vw;
  text-align: center;
}
.image {
  height: 100vh;
  width: 90%;
  margin-top: 5vw;
  margin-left: 5vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 20%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.page2,
.page8 {
  height: 90vh;
  width: 100%;
  position: relative;
  font-family: DM Sans;
}
.page2Container,
.page8Container {
  position: absolute;
  top: 20%;
  left: 50%;
}
.page2Container p:nth-of-type(1),
.page8Container p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 0.7;
  padding-right: 8vw;
  padding-top: 3vw;
}
.page2Container p:nth-of-type(2),
.page8Container p:nth-of-type(2) {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.7;
  padding: 1vw 17vw 0 0;
}
.page3,
.page6 {
  height: 100vh;
  width: 100%;
  padding-top: 1px;
}
.page3 .txt {
  margin-top: 5vw;
}
.page3 .txt h1,
.page6 .txt h1 {
  color: #e3e3c4;
  font-size: 5vw;
  font-family: pp woodland;
  font-weight: 400;
  line-height: 4.8vw;
  text-align: center;
}
.page4 {
  height: 110vh;
  width: 100%;
}
.page4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 2vw;
  border-radius: 50px;
}
.page5,
.page10 {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: DM Sans;
}

.page5Container,
.page10Container {
  position: absolute;
  top: 10%;
  left: 50%;
}
.page5Container p,
.page10Container p {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.7;
  padding: 3vw 20vw 0 0;
}
.page5Container p:nth-of-type(1),
.page10Container p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 0.7;
  padding-right: 8vw;
}
.page6 .txt {
  margin-top: 7vw;
}
.page7,
.page9 {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
.page7Left,
.page9Left {
  height: 90vh;
  width: 30vw;
}
.page7Right,
.page9Right {
  height: 90vh;
  width: 30vw;
  margin-top: 11vw;
}

.page7Left img,
.page7Right img,
.page9Left img,
.page9Right img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
}
.page11 {
  height: 130vh;
  width: 100%;
  position: relative;
}
.page11 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: -2vw;
}
.page11Container {
  height: 15vw;
  width: 93%;
  background-color: #586346;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 13vw;
  border-radius: 20px;
}
.page11Container h1 {
  font-family: PP Woodland;
  color: #e3e3c4;
  padding-left: 5vw;
  font-size: 5vw;
}
.page11Container p {
  font-family: DM Sans;
  color: #f7f7ee;
  padding-right: 5vw;
  font-size: 2vw;
  cursor: pointer;
}
.page11Container i:hover {
  font-size: 2.1vw;
}
.page11Container i {
  background-color: #f7f7ee;
  color: #434b34;
  padding: 0.1vw 1vw;
  border-radius: 15px;
}
.page12 {
  height: 125vh;
  width: 100%;
  background-color: #022c42;
  font-family: sans-serif;
  overflow-x: hidden;
  margin-top: -2vw;
}
.page12 h4 {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.page12Top {
  height: 32%;
  width: 100%;
}
.page12Top svg {
  width: 9vw;
  margin-left: 43%;
  fill: #e3e3c4;
}
.page12Mid {
  height: 32%;
  width: 100%;
}
.page12Mid hr {
  background-color: black;
}
.page12MidData {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 1vw;
}
.page12MidData h4:nth-of-type(2) {
  margin-left: -12vw;
}
.page12Btm {
  height: 22%;
  width: 100%;
}
.page12BtmUp {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 1vw;
}
.page12BtmDwn {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 1vw;
}
.page12BtmDwn h4:nth-of-type(2) {
  margin-left: 10vw;
}
.page12Mid,
.page12Btm {
  padding: 0 3vw 0 3vw;
}
.page12Nav {
  background-color: #03364f;
  height: 14%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.page12Nav p {
  padding: 1.6vw 3vw 0 3vw;
}


@media (max-width: 500px) {
  .page1 {
    height: auto;
    min-height: 100vh;
  }
  
  .page1 .nav {
    height: 60px;
    padding: 10px;
  }
  
  .nav svg {
    width: 80px;
    margin-left: 0;
  }
  
  .navContent i {
    font-size: 24px;
  }
  
  .navRight button {
    padding: 8px 12px;
  }
  
  .navRight a {
    font-size: 14px;
  }
  
  .name-container h1 {
    font-size: 2rem;
  }
  
  .name-container h2 {
    font-size: 1.8rem;
  }
  
  .page1 .txt {
    margin-top: 80px;
  }
  
  .page1 .txt h1 {
    font-size: 28px;
    line-height: 32px;
  }
  
  .image {
    height: 250px;
    width: 90%;
    margin: 30px auto;
  }
  
  .image img {
    height: 40%;
    width: 40%;
  }
  
  .page2,
  .page8 {
    height: auto;
    padding: 60px 20px;
    position: static;
  }
  
  .page2Container,
  .page8Container {
    position: static;
    transform: none;
    text-align: center;
  }
  
  .page2Container p:nth-of-type(1),
  .page8Container p:nth-of-type(1) {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  
  .page2Container p:nth-of-type(2),
  .page8Container p:nth-of-type(2) {
    font-size: 16px;
    padding: 0;
  }
  
  .page3,
  .page6 {
    height: auto;
    padding: 40px 20px;
  }
  
  .page3 .txt,
  .page6 .txt {
    margin-top: 40px;
  }
  
  .page3 .txt h1,
  .page6 .txt h1 {
    font-size: 28px;
    line-height: 32px;
  }
  
  .page4 {
    height: auto;
    padding: 20px;
  }
  
  .page4 img {
    height: 250px;
    border-radius: 20px;
    padding: 0;
  }
  
  .page5,
  .page10 {
    height: auto;
    padding: 60px 20px;
    position: static;
  }
  
  .page5Container,
  .page10Container {
    position: static;
    transform: none;
    text-align: center;
  }
  
  .page5Container p,
  .page10Container p {
    font-size: 16px;
    padding: 10px 0;
  }
  
  .page5Container p:nth-of-type(1),
  .page10Container p:nth-of-type(1) {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  
  .page7,
  .page9 {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
    gap: 20px;
  }
  
  .page7Left,
  .page9Left,
  .page7Right,
  .page9Right {
    width: 100%;
    height: 300px;
    margin: 0;
  }
  
  .page7Left img,
  .page7Right img,
  .page9Left img,
  .page9Right img {
    height: 100%;
    width: 100%;
  }
  
  .page11 {
    height: 250px;
  }
  
  .page11 img {
    margin-top: 0;
  }
  
  .page11Container {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
    margin: 0 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .page11Container h1 {
    font-size: 28px;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .page11Container p {
    font-size: 16px;
    padding: 0;
  }
  
  .page12 {
    height: auto;
    padding: 40px 20px;
    margin-top: 0;
  }
  
  .page12Top svg {
    width: 80px;
    margin-left: calc(50% - 40px);
  }
  
  .page12MidData,
  .page12BtmUp,
  .page12BtmDwn {
    flex-direction: column;
    gap: 15px;
  }
  
  .page12MidData h4:nth-of-type(2),
  .page12BtmDwn h4:nth-of-type(2) {
    margin-left: 0;
  }
  
  .page12Nav {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  
  .page12Nav p {
    padding: 5px 0;
  }
}