/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Container Styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3e3c4;
}

.login-container {
  background-color: #ffffff8b;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333333;
}

/* Input Fields Styling */
.input-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555555;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #dddddd;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: #556043;
  box-shadow: 0 0 4px #556043a5;
}

/* Button Styling */
button {
  width: 100%;
  padding: 0.8rem;
  background-color: #556043;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #556043e1;
}

/* Error Message */
#error-message {
  margin-top: 1rem;
  color: #ff0000;
  text-align: center;
  font-size: 0.9rem;
}
