<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Odisej</title>
    <link rel="stylesheet" href="nav.css" />
  </head>
  <body>
    <div class="menuOptions">
      <div class="menuOptionsLeft">
        <button ><a href="<%= p %>" class="btn">X</a></button>
      <h1>Hotel Odisej</h1>
      </div>
      <div class="menuOptionsRight">
        <div class="left tags">
          <a href=""></a>
          <a href="/rooms">Rooms &<br />Suites</a>
          <a href="/dinin"><br />Dining Options</a>
          <a href="/wellness">Wellness</a>
        </div>
        <div class="right tags">
          <a href="/contact">Contact</a>
          <a href="#" style="cursor: not-allowed;">Discover<br />Mljet</a>
          <a href="/customer">Book<br />now</a>
          <a href="/customer">Online<br />Check-in</a>
        </div>
      </div>
    </div>
  </body>
</html>
