* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f7ee;
}
.menuOptions {
  height: 100%;
  width: 100%;
  display: flex;
  color: #434b34;
}
.menuOptionsLeft {
  height: 100%;
  width: 35%;
  font-family: DM Sans;
  margin: 3vw 0 0 1.5vw;
}
.menuOptionsLeft h1 {
  font-size: 3.2vw;
  margin: 1vw 0 0.2vw 0;
}
.menuOptionsRight {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  font-family: PP Woodland;
}
.menuOptionsRight a {
  text-decoration: none;
  color: #9b9f8f;
  border: 1px solid #9b9f8f;
  height: 17vw;
  width: 15vw;
  font-size: 2.5vw;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 2vw;
}
.tags {
  display: flex;
}
.tags a:hover {
  background-color: #5b6647;
  color: whitesmoke;
}
.left a {
  border-bottom: none;
}
.left a:nth-child(1) {
  border: none;
  opacity: 0;
  cursor: auto;
}

button {
  border: 2px solid #434b34;
  color: #434b34;
  font-size: 2.7vw;
  cursor: pointer;
  background-color: white;
  padding: 0.1vw 1.5vw;
  border-radius: 7px;
  transition: ease-in-out 0.3s;
}
button:hover {
  background-color: #434b34;
  color: whitesmoke;
}
