<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <style>
      body {
        background-color: #556043;
        height: 100%;
        width: 100%;
        margin: 0; /* Optional: Remove default body margin */
      }
      h1 {
        font-size: 35px;
        text-align: center;
        color: white;
      }
      button {
        margin: 10px 0 0 20px;
        padding: 4px 8px;
        background-color: #253a03;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Not Found</h1>
    <button onclick="window.location.href='/login'">Back</button>
  </body>
</html>
