* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #03364f;
}
.page1 {
  height: 150vh;
  width: 100%;
  overflow: hidden;
}
.name-container{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.name-container h1{
  font-size: 4rem ;
}
.name-container h2{
  font-size: 2.8rem ;
}
.page1 .nav {
  height: 12vw;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 2vw 1.9vw;
}
.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav svg {
  fill: #e3e3c4;
  width: 10vw;
  font-weight: 900;
  object-fit: cover;
  object-position: center;
  margin-left: 15vw;
}
.navContent i {
  transition: ease-in 0.3s;
  color: #e3e3c4;
  font-weight: 800;
  font-size: 2.8vw;
  cursor: pointer;
  opacity: 1;
}
.navContent i:hover {
  color: #434b34;
}
.navRight button {
  border-radius: 20px;
  overflow: hidden;
  padding: 0.8vw 1.5vw;
  background-color: #434b34;
  border: none;
}
.navRight a {
  font-family: sans-serif;
  font-size: 1vw;
  color: white;
  cursor: pointer;
  transition: ease 0.3s;
  opacity: 1;
  text-decoration: none;
}
.navContent button:nth-of-type(1) {
  background-color: white;
  border: 1px solid #e3e3c4;
  color: #e3e3c4;
  margin-right: 0.8vw;
}
.navbtn1 a {
  color: #434b34;
}
.navContent button:nth-of-type(1):hover {
  background-color: #e3e3c4;
}
@media (max-width: 500px) {
  .icon {
    padding-bottom: 5vh;
    padding-left: 1vh;
  }

  .navRight {
    padding-bottom: 5vh;
  }
  .nav svg {
    padding-top: 2vh;
    width: 130px;
  }

  .navContent i {
    font-size: 4vh;
  }

  .navRight a {
    font-size: 2.3vh;
  }
  .navContent button:nth-of-type(2) {
    display: none;
  }
  .navbtn1 a {
    color: #434b34;
  }
}
.txt {
  margin-top: 15vw;
}
.txt h1 {
  color: #434b34;
  font-size: 5.2vw;
  font-family: pp woodland;
  font-weight: 400;
  line-height: 4.8vw;
  text-align: center;
}
.image {
  height: 90vh;
  width: 90%;
  margin-top: 5vw;
  margin-left: 5vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 20%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.page2 {
  height: 100vh;
  width: 100%;
  font-family: DM Sans;
  color: #f7f7ee;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.page2 h3 {
  height: 16vw;
  width: 40vw;
  margin: 10vw 5vw 0 0;
  font-size: 1.8vw;
  font-weight: 500;
}
.page2 p {
  height: 20vw;
  width: 40vw;
  font-size: 1.2rem;
  margin-right: 5vw;
}

.page3 {
  height: 122vh;
  width: 100%;
  display: flex;
}
.page3left {
  height: 100%;
  width: 50%;
}
.page3leftImg {
  height: 23vw;
  width: 25vw;
  background-image: url(/ass/33.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  top: 37%;
  left: 45%;
}
.page3right {
  height: 100%;
  width: 50%;
}
.page3rightImgUp img {
  height: 35vw;
  width: 32vw;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}
.page3rightImgBtm img {
  height: 20vw;
  width: 13vw;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin-top: 2vw;
}

.page4 {
  height: 100vh;
  width: 100%;
  font-family: DM Sans;
  color: #f7f7ee;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.page4 h3 {
  height: 12vw;
  width: 40vw;
  margin: 10vw 5vw 0 0;
  font-size: 1.8vw;
  font-weight: 500;
}
.page4 p {
  height: 10vw;
  width: 40vw;
  font-size: 1.2rem;
  margin-right: 5vw;
}
.page5 {
  height: 105vh;
  width: 100%;
  background-color: #f7f7ee;
  color: #e3e3c4;
  padding: 5vw;
}
@media (max-width: 500px) {
  .page5 {
    height: 50vh;
    width: 100%;
    padding-top: 15vh;
  }
}
.page5 h1 {
  font-size: 4.6vw;
  font-family: pp woodland;
  font-weight: 400;
  line-height: 4.8vw;
  text-align: center;
}

.page6,
.page7,
.page8 {
  height: 100vh;
  width: 100%;
  background-color: #f7f7ee;
}
.page6 .container,
.page7 .container,
.page8 .container {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: DM Sans;
}
.page6 .containerLeft,
.page7 .containerLeft,
.page8 .containerLeft {
  height: 100%;
  width: 45%;
  color: #444c35;
}
.page6 .containerLeft h3,
.page7 .containerLeft h3,
.page8 .containerLeft h3 {
  color: #444c35;
  background-color: #e3e3c4;
  width: fit-content;
  padding: 1.5vw 1vw;
  border-radius: 1vw;
  font-weight: 500;
  font-size: 1.3vw;
  margin: 8vw 0 0 10vw;
}
.page6 .containerLeft h1,
.page7 .containerLeft h1,
.page8 .containerLeft h1 {
  font-size: 2.8vw;
  font-weight: 500;
  color: #444c35;
  font-family: PP Woodland;
  padding: 2vw 0 0 8vw;
}
.page6 .containerLeft p,
.page7 .containerLeft p,
.page8 .containerLeft p {
  width: 70%;
  opacity: 0.7;
  padding: 1vw 0 0 8vw;
  font-size: 1.2vw;
}
.page6 .containerRight,
.page7 .containerRight,
.page8 .containerRight {
  height: 100%;
  width: 55%;
}
.page6 .containerRight img,
.page7 .containerRight img,
.page8 .containerRight img {
  height: 35vw;
  width: 30vw;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin: 8vw 0 0 11vw;
}

.page9 {
  height: 100vh;
  width: 100%;
  background-color: #5f6a4a;
  display: flex;
  font-family: DM Sans;
}
.page9Left {
  height: 100%;
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page9LeftTop,
.page9LeftBtm {
  display: flex;
  margin-left: 4vw;
}
.page9LeftBtm {
  margin-left: 16vw;
}
.page9LeftTop p,
.page9LeftBtm p {
  height: 15vw;
  width: 12vw;
  border: 1px solid #e3e3c4;
  color: rgba(255, 255, 255, 0.91);
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 0 0 1.5vw 1vw;
  transition: all 0.3s ease-in-out;
}
.page9LeftTop p:nth-of-type(1) {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.page9LeftTop p:nth-of-type(3) {
  border-top-right-radius: 15px;
}
.page9LeftBtm p:nth-of-type(1) {
  border-bottom-left-radius: 15px;
}
.page9LeftBtm p:nth-of-type(3) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.page9LeftTop p:nth-of-type(1),
.page9LeftTop p:nth-of-type(2) {
  border-right: none;
}
.page9LeftBtm p:nth-of-type(1),
.page9LeftBtm p:nth-of-type(2) {
  border-right: none;
  border-top: none;
}
.page9LeftTop p:hover,
.page9LeftBtm p:hover {
  background-color: #e3e3c4;
  color: #5f6a4a;
}

.page9Right {
  height: 100%;
  width: 40%;
  color: #dbddd1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -1vw 0 0 -2vw;
}
.page9Right h2 {
  font-family: PP Woodland;
  font-size: 4vw;
  font-weight: 500;
  color: #e3e3c4;
}
.page9Right p {
  width: 20vw;
  margin-top: 2vw;
}
.page9Right h5 {
  margin-top: 2vw;
  font-size: 1.5rem;
  font-weight: 500;
}
.page9Right h5 i {
  padding: 0.1vw 1vw;
  background-color: #434b34;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.page9Right h5 i:hover {
  background-color: #8c9c6e;
  color: white;
  padding: 0.2vw 1vw 0.2vw 1vw;
}
.page10 {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7ee;
  color: #434b34;
}
.page10 h1 {
  font-family: PP Woodland;
  font-size: 4.5vw;
  font-weight: 600;
  text-align: center;
}
.page10 p {
  font-family: DM Sans;
  font-size: 1rem;
}

.page11 {
  height: 130vh;
  width: 100%;
  position: relative;
}
.page11 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: -2vw;
}
.page11Container {
  height: 15vw;
  width: 93%;
  background-color: #586346;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 13vw;
  border-radius: 20px;
}
.page11Container h1 {
  font-family: PP Woodland;
  color: #e3e3c4;
  padding-left: 5vw;
  font-size: 5vw;
}
.page11Container p {
  font-family: DM Sans;
  color: #f7f7ee;
  padding-right: 5vw;
  font-size: 2vw;
  cursor: pointer;
}
.page11Container i:hover {
  font-size: 2.1vw;
}
.page11Container i {
  background-color: #f7f7ee;
  color: #434b34;
  padding: 0.1vw 1vw;
  border-radius: 15px;
}
.page12 {
  height: 125vh;
  width: 100%;
  background-color: #022c42;
  font-family: sans-serif;
  overflow-x: hidden;
  margin-top: -2vw;
}
.page12 h4 {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.page12Top {
  height: 32%;
  width: 100%;
}
.page12Top svg {
  width: 9vw;
  margin-left: 43%;
  fill: #e3e3c4;
}
.page12Mid {
  height: 32%;
  width: 100%;
}
.page12Mid hr {
  background-color: black;
}
.page12MidData {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 1vw;
}
.page12MidData h4:nth-of-type(2) {
  margin-left: -12vw;
}
.page12Btm {
  height: 22%;
  width: 100%;
}
.page12BtmUp {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 1vw;
}
.page12BtmDwn {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 1vw;
}
.page12BtmDwn h4:nth-of-type(2) {
  margin-left: 10vw;
}
.page12Mid,
.page12Btm {
  padding: 0 3vw 0 3vw;
}
.page12Nav {
  background-color: #03364f;
  height: 14%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.page12Nav p {
  padding: 1.6vw 3vw 0 3vw;
}

@media (max-width: 500px) {
  body, html {
    overflow-x: hidden;
  }
  
  .page1 {
    height: auto;
    min-height: 100vh;
  }
  
  .name-container h1 {
    font-size: 2.5rem;
  }
  
  .name-container h2 {
    font-size: 1.8rem;
  }
  
  .page1 .nav {
    height: 60px;
    padding: 10px;
  }
  
  .nav svg {
    width: 80px;
    margin-left: 0;
  }
  
  .navContent i {
    font-size: 24px;
  }
  
  .navRight button {
    padding: 8px 12px;
  }
  
  .navRight a {
    font-size: 14px;
  }
  
  .txt {
    margin-top: 100px;
  }
  
  .txt h1 {
    font-size: 28px;
    line-height: 32px;
  }
  
  .image {
    height: 250px;
    width: 90%;
    margin: 30px auto;
  }
  
  .image img {
    height: 40%;
    width: 40%;
  }
  
  .page2 {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  
  .page2 h3 {
    height: auto;
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 20px;
    text-align: center;
  }
  
  .page2 p {
    height: auto;
    width: 100%;
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  
  .page3 {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }
  
  .page3left,
  .page3right {
    width: 100%;
  }
  
  .page3leftImg {
    height: 200px;
    width: 80%;
    top: 0;
    left: 10%;
    margin-bottom: 30px;
  }
  
  .page3rightImgUp,
  .page3rightImgBtm {
    text-align: center;
  }
  
  .page3rightImgUp img {
    height: 250px;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .page3rightImgBtm img {
    height: 150px;
    width: 50%;
    margin-top: 0;
  }
  
  .page4 {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  
  .page4 h3 {
    height: auto;
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 20px;
    text-align: center;
  }
  
  .page4 p {
    height: auto;
    width: 100%;
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  
  .page5 h1 {
    font-size: 28px;
    line-height: 32px;
  }
  
  .page6,
  .page7,
  .page8 {
    height: auto;
    padding: 40px 0;
  }
  
  .page6 .container,
  .page7 .container,
  .page8 .container {
    flex-direction: column;
  }
  
  .page6 .containerLeft,
  .page7 .containerLeft,
  .page8 .containerLeft,
  .page6 .containerRight,
  .page7 .containerRight,
  .page8 .containerRight {
    width: 100%;
  }
  
  .page6 .containerLeft h3,
  .page7 .containerLeft h3,
  .page8 .containerLeft h3 {
    font-size: 16px;
    padding: 12px;
    margin: 20px 0 20px 20px;
  }
  
  .page6 .containerLeft h1,
  .page7 .containerLeft h1,
  .page8 .containerLeft h1 {
    font-size: 24px;
    padding: 10px 20px;
  }
  
  .page6 .containerLeft p,
  .page7 .containerLeft p,
  .page8 .containerLeft p {
    width: 90%;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .page6 .containerRight,
  .page7 .containerRight,
  .page8 .containerRight {
    text-align: center;
  }
  
  .page6 .containerRight img,
  .page7 .containerRight img,
  .page8 .containerRight img {
    height: 250px;
    width: 80%;
    margin: 20px auto;
  }
  
  .page9 {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }
  
  .page9Left,
  .page9Right {
    width: 100%;
  }
  
  .page9LeftTop,
  .page9LeftBtm {
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: center;
  }
  
  .page9LeftBtm {
    margin-left: 0;
  }
  
  .page9LeftTop p,
  .page9LeftBtm p {
    height: 80px;
    width: 45%;
    font-size: 14px;
    padding: 15px;
    margin: 5px;
  }
  
  .page9LeftTop p:nth-of-type(1),
  .page9LeftTop p:nth-of-type(2),
  .page9LeftTop p:nth-of-type(3),
  .page9LeftBtm p:nth-of-type(1),
  .page9LeftBtm p:nth-of-type(2),
  .page9LeftBtm p:nth-of-type(3) {
    border-radius: 8px;
    border: 1px solid #e3e3c4;
  }
  
  .page9Right {
    margin: 40px 0 0 0;
    align-items: center;
    text-align: center;
  }
  
  .page9Right h2 {
    font-size: 32px;
  }
  
  .page9Right p {
    width: 100%;
    font-size: 16px;
  }
  
  .page9Right h5 {
    font-size: 18px;
  }
  
  .page10 {
    height: auto;
    padding: 60px 20px;
    text-align: center;
  }
  
  .page10 h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .page10 p {
    font-size: 16px;
  }
  
  .page11 {
    height: 250px;
  }
  
  .page11 img {
    margin-top: 0;
  }
  
  .page11Container {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
    margin: 0 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .page11Container h1 {
    font-size: 28px;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .page11Container p {
    font-size: 16px;
    padding: 0;
  }
  
  .page12 {
    height: auto;
    padding: 40px 20px;
    margin-top: 0;
  }
  
  .page12Top svg {
    width: 80px;
    margin-left: calc(50% - 40px);
  }
  
  .page12MidData,
  .page12BtmUp,
  .page12BtmDwn {
    flex-direction: column;
    gap: 15px;
  }
  
  .page12MidData h4:nth-of-type(2),
  .page12BtmDwn h4:nth-of-type(2) {
    margin-left: 0;
  }
  
  .page12Nav {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  
  .page12Nav p {
    padding: 5px 0;
  }
}